<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
  <div class="container">
    <div>
      <table>
        <thead>
        <tr>
          <th>#</th>
          <th>이름</th>
        </tr>
        </thead>
        <tbody>
        <!-- js의 map과 같은 부분. tr 부분이 members List 원소의 갯수만큼 반복됨   -->
        <!-- members List의 원소를 member라고 하겠다는 의미 -->
        <tr th:each="member : ${members}">
          <td th:text="${member.id}"></td>
          <td th:text="${member.name}"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div> <!-- /container -->
</body>
</html>